<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Cleanlancers</title>
</head>
<body>
<!-- Bootstrap JS -->
<div th:replace="fragments/bootstrap-js :: bootstrap-js"></div>
<!-- EO: Bootstrap JS -->
<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar('administration')">Navbar here</div>
<!-- EO: Navbar -->
<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="administration/asign-cleaner :: assign-cleaner">
    Modal for assigning a cleaner to task
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="administration/unassign-cleaner :: unassign-cleaner">
    Modal for unassigning a cleaner from task
</div>

<script>

    window.onload = function () {

        $(document).on("click", ".remove-cleaner-from-task", function () {
            $("#unassignTaskId").val($(this).data('id'));
        });

        $("#assignedUsername").keydown(() => {
            document.getElementById("foundCleanerEmails").textContent = '';
        });

        $("#assignedUsername").keyup(() => {
            let inputParam = $("#assignedUsername").val();
            let taskRegionName = $("#taskRegion").val();
            let url = 'http://localhost:8080/administration/cleaners-by-email/' + taskRegionName + '/' + inputParam;
            let options = document.getElementById("foundCleanerEmails");
            options.textContent = '';

            if (inputParam.length > 0) {
                fetch(url)
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Something went wrong');
                        }
                    })
                    .then((responseJson) => {
                        let resultList = Object.values(responseJson);
                        if (resultList.length > 0) {
                            resultList.forEach((x) => {
                                $("#foundCleanerEmails").append('<option value="' + x + '"></option>');
                            })
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        });


        let notFound = $("#userNotFound").val();
        if (notFound === 'true'){
            $("#assignCleanerModal").modal('toggle');
        }
        $("#assignCleanerModal").on("hide.bs.modal", function () {
            $("#assignedUsername").val('')
            let first = document.getElementById('assignCleanerToTask').firstChild;
            while (first !== null) {
                let child = first;
                first = child.nextElementSibling;
                if (child.tagName === 'DIV') {
                    let parent = child.parentNode;
                    parent.removeChild(child);
                }
            }
        });



        $(document).on("click", ".assign-cleaner-to-task", function () {
            $("#taskRegion").val($(this).data('task-region'))
            $("#taskId").val($(this).data('id'));
        })

        $("#email").keyup(() => {
            let inputParam = $("#email").val();
            let url = 'http://localhost:8080/administration/user-by-email/' + inputParam;
            let options = document.getElementById("foundUserEmails");
            options.textContent = '';

            if (inputParam.length > 0) {
                fetch(url)
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Something went wrong');
                        }
                    })
                    .then((responseJson) => {
                        let resultList = Object.values(responseJson);
                        if (resultList.length > 0) {
                            resultList.forEach((x) => {
                                $("#foundUserEmails").append('<option value="' + x + '"></option>');
                            })
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        });

        $("#firstName").keyup(() => {
            let inputParam = $("#firstName").val();
            let url = 'http://localhost:8080/administration/user-by-first-name/' + inputParam;
            let options = document.getElementById("foundUserFirstNames");
            options.textContent = '';

            if (inputParam.length > 0) {
                fetch(url)
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Something went wrong');
                        }
                    })
                    .then((responseJson) => {
                        let resultList = Object.values(responseJson);
                        if (resultList.length > 0) {
                            resultList.forEach((x) => {
                                $("#foundUserFirstNames").append('<option value="' + x + '"></option>');
                            })
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        });

        $("#lastName").keyup(() => {
            let inputParam = $("#lastName").val();
            let url = 'http://localhost:8080/administration/user-by-last-name/' + inputParam;
            let options = document.getElementById("foundUserLastNames");
            options.textContent = '';

            if (inputParam.length > 0) {
                fetch(url)
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Something went wrong');
                        }
                    })
                    .then((responseJson) => {
                        let resultList = Object.values(responseJson);
                        if (resultList.length > 0) {
                            resultList.forEach((x) => {
                                $("#foundUserLastNames").append('<option value="' + x + '"></option>');
                            })
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        });

        $("#workArea").keyup(() => {
            let inputParam = $("#workArea").val();
            let url = 'http://localhost:8080/administration/user-by-region-name/' + inputParam;
            let options = document.getElementById("foundWorkAreas");
            options.textContent = '';

            if (inputParam.length > 0) {
                fetch(url)
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Something went wrong');
                        }
                    })
                    .then((responseJson) => {
                        let resultList = Object.values(responseJson);
                        if (resultList.length > 0) {
                            resultList.forEach((x) => {
                                $("#foundWorkAreas").append('<option value="' + x + '"></option>');
                            })
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        });

    }
</script>


<div class="container col-lg-12">
    <!-- Heading -->
    <h1 class="my-4" th:if="${foundCleaners == null}">We have no available cleaners
        <small>There are no cleaners with these parameters</small>
    </h1>

    <hr>
    <form th:action="@{/administration}" th:method="post" th:object="${searchForm}">
        <table class="col-lg-10">
            <tr>
                <th>Search by Cleaner email</th>
                <th>Search by Cleaner first name</th>
                <th>Search by Cleaner last name</th>
                <th>Search Cleaners by Region</th>
                <th>Search Cleaners by tasks count</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input name="email"
                           list="foundUserEmails"
                           id="email"
                           th:value="*{email}"
                           type="text"
                           class="form-control validate"
                           placeholder="Cleaner email">
                    <datalist id="foundUserEmails"></datalist>
                </td>
                <td>
                    <input name="firstName"
                           list="foundUserFirstNames"
                           id="firstName"
                           th:value="*{firstName}"
                           type="text"
                           class="form-control validate"
                           placeholder="Cleaner first name">
                    <datalist id="foundUserFirstNames"></datalist>
                </td>
                <td>
                    <input name="lastName"
                           list="foundUserLastNames"
                           id="lastName"
                           th:value="*{lastName}"
                           type="text"
                           class="form-control validate"
                           placeholder="Cleaner last name">
                    <datalist id="foundUserLastNames"></datalist>
                </td>
                <td>
                    <input name="workArea"
                           list="foundWorkAreas"
                           id="workArea"
                           th:value="*{workArea}"
                           type="text"
                           class="form-control validate"
                           placeholder="Region name">
                    <datalist id="foundWorkAreas"></datalist>
                </td>
                <td>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary d-inline-block mx-auto">Search</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <hr>

    <table class="table">
        <tr>
            <td class="w-50" th:unless="${foundCleaners == null && foundCleaners.isEmpty()}">
                <h1>Cleaners:</h1>
                <table class="table table-striped table-responsive-md" id="cleaners"
                       >
                    <tr th:object="${cleaner}" th:each="cleaner : ${foundCleaners}">
                        <td>
                            <h3 th:text="${cleaner.firstName} + ' ' + ${cleaner.lastName}" class="my-3">Project
                                Description</h3>
                            <p th:text="${cleaner.email}"></p>
                        </td>
                        <td>
                            <p th:text="${cleaner.getCleanerTasks().size()}"></p>
                        </td>
                        <td>
                            <p th:text="${cleaner.region.name}"></p>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="w-50" th:unless="${allTasks == null && allTasks.isEmpty()}">
                <h1>Tasks:</h1>
                <!-- Task Row -->
                <table class="table table-striped table-responsive-md" id="allTasks" >
                    <tr th:object="${task}" th:class="*{cleaner == null}? 'bg-warning' : 'bg-success'" th:each="task : ${allTasks}">
                        <td>
                            <p th:text="*{name}"></p>
                        </td>
                        <td>
                            <p th:text="*{region.name}"></p>
                        </td>
                        <td>
                            <p th:text="*{client.firstName + ' ' + client.lastName}"></p>
                        </td>
                        <td>
                        <td>
                            <p th:unless="*{cleaner == null}"
                               th:text="*{cleaner.firstName + ' ' + cleaner.lastName}"></p>
                            <p th:if="*{cleaner == null}" th:text="'No cleaner asigned'"></p>
                        </td>
                        <td>
                            <button type="button" th:if="${task.cleaner == null}"
                                    class="assign-cleaner-to-task btn btn-success"
                                    data-toggle="modal"
                                    data-target="#assignCleanerModal"
                                    th:data-id="${task.id}"
                                    th:data-task-region="${task.region.name}">
                                <i class="fas fa-fa mx-1">Assign</i>
                            </button>
                            <button type="button" th:unless="${task.cleaner == null}"
                                    class="remove-cleaner-from-task btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#unassignCleanerModal"
                                    th:data-id="${task.id}">
                                <i class="fas fa-fa mx-1">Unassign</i>
                            </button>
                        </td>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<input id="userNotFound" th:value="${userNotFound}" style="display: none">

<!-- /.container -->
</body>
</html>