<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="unassign-cleaner">
    <!-- Modal -->
    <div class="modal fade" id="unassignCleanerModal" tabindex="-1"
         role="dialog"
         aria-labelledby="unassignCleaner"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unassignCleaner">Delete task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure that you want to unassign the cleaner of this task ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form
                            id="formDelete"
                            th:action="@{/administration/unassign-cleaner}"
                            th:method="post">
                        <input id="unassignTaskId" name="unassignTaskId" type="hidden" value=""/>
                        <button id="btnDelete" type="submit" class="btn btn-primary">Unassign</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
