<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="add-reply">
    <!-- Modal -->
    <div class="modal fade" id="addCommentReplyModal" tabindex="-1"
         role="dialog"
         aria-labelledby="addReply"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReply">Add reply</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <form th:action="@{/responses/save-reply}" th:object="${formAddCommentReply}" th:method="post"
                          id="addCommentReply">
                        <input id="commentTaskId" name="commentTaskId"
                               th:field="${formAddCommentReply.taskId}"
                               type="hidden"/>
                        <input id="taskCommentId" name="taskCommentId"
                               th:field="${formAddCommentReply.commentId}"
                               type="hidden"/>
                        <label for="replyDescription">Reply:</label>
                        <input type="text"
                               placeholder="Your text goes here"
                               class="form-control"
                               id="replyDescription"
                               th:field="${formAddCommentReply.responseDescription}"/>
                        <div th:each="e : ${#fields.errors('responseDescription')}" class="mx-auto">
                            <small th:text="${e}" class="text-danger"></small>
                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!--                <div class="modal-footer">-->
                <!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>